<%- include('header') %>

<body>
    <h2>
        Departments:
    </h2>
    <a href="/admin/categorias">Return</a>

    <form method="POST">
        <label>Título</label>
        <input type="text" name="categoria">

        <button>Salvar</button>
    </form>
</body> 