<%- include('header') %>

<body>
    <h2><%- vagasDb.titulo %></h2>

    <div>
        <h3>About the job:</h3>
        
        <ul>
            <%- vagasDb.desc %>
        </ul>
    </div>
</body>
</html>